//***************** event Card BUTTONS *****************//

.detailsButton {
  position: absolute;
  top: 16.7rem;
  left: 1.7rem;
  width: 7rem;
  height: 2.5rem;
}

.card-image-top {
  z-index: 1000;
  backface-visibility: hidden;
}

.backButton {
  position: absolute;
  right: 2rem;
  top: 2rem;
  // left: 1.3rem;
  width: 7rem;
  height: 2.5rem;
}

.more-button {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
  // left: 1.3rem;
  width: 7rem;
  height: 2.5rem;
}

.card-title {
  margin-left: 0;
  margin-bottom: 0;
}

.chatButton {
  font-size: initial;
  width: 8rem;
  height: 4rem;
  position: absolute;
  bottom: 1.1rem;
  right: 1.5rem;
  backface-visibility: hidden;
}



//***************** event Card ICONS *****************//

.icons {
  font-size: 3rem;
  backface-visibility: hidden;

  i:hover {
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }

  .fa-heart {
    color: red;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    position: absolute;
    bottom: 7rem;
    right: 5.2rem;
    transition: all 0.2s ease-in-out;
  }

  .like-counter {
    font-size: 2rem;
    position: absolute;
    bottom: 6.3rem;
    right: 1.7rem;
    text-align: right;
  }

  .fa-plus-circle {
    text-indent: -0.5rem;
    color: orange;
    backface-visibility: hidden;
    background: white;
    border-radius: 50%;
    position: fixed;
    font-size: 4rem;
    line-height: 3.3rem;
    top: 2rem;
    left: 2rem;
    width: 3.3rem;
    height: 3.3rem;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }

  .red-plus {
    color: red;
  }
}

.iconSideError {
  color: red;
  position: absolute;
  top: 0.5rem;
  right: 1.3rem;
  text-shadow: -0.8px -0.8px 0 rgba(255, 255, 255, 1),
    0.8px -0.8px 0 rgba(255, 255, 255, 1), -0.8px 0.8px 0 rgba(255, 255, 255, 1),
    0.8px 0.8px 0 rgba(255, 255, 255, 1);
}

//***************** event card *****************//

.flip-card {
  // background-color: transparent;
  border: 0.5px solid white;
  perspective: 1000px;
  // opacity: 0.8;
  transition: transform 1s ease-in-out;
  // transition: opacity 0.3s ease-in;
  transition: transform 0.3s ease-in-out;

}

.card-text {
  color: dimgrey;
  margin-top: 0.5rem;
}

//  this is for stretching the image of the event card
// .img-fluid {
//   width: 100%;
//   height: max-content;
//   /* overflow: hidden; */
// }

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.75s ease-in-out;
  transform-style: preserve-3d;
}

.flip-card:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}

.flip-action {
  transform: rotateY(180deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: whitesmoke;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
}

.flip-card-front .flip-card-back:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}