@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i");

@import url("https://fonts.googleapis.com/css?family=Amaranth:400i|Kalam|News+Cycle|Source+Sans+Pro:400,400i");

/////////////////// universal ///////////////////

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

body {
  background: white;
  color: black;
  font-family: "Ubuntu", sans-serif; //"Poppins", sans-serif;
  font-size: 14px;
  margin: 70px 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.flexC {
  display: flex;
  flex-direction: column;
}

.flexR {
  display: flex;
}


/////////////////// main ///////////////////
main {
  padding-top: 13rem;
  background: #fff;
  display: flex;
  height: 100%;
}

//***************** event List *****************//

.eventList {
  background: white;
  min-width: 40%;
  display: flex;
  justify-content: center;
  // padding-left: 4rem;
  // padding-right: 4rem;
}

//***************** event Card *****************//

.flip-card-front {
  position: relative;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.title-date-location {
  width: 28rem;
  padding-top: 0.5rem;
}

.card-body {
  padding-top: 0em;
  padding-bottom: 0em;
}

.event-description {
  font-size: 16px;
  overflow: hidden;
  border: whitesmoke solid 0.5px;
  height: 20rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}