@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i");

@import url("https://fonts.googleapis.com/css?family=Amaranth:400i|Kalam|News+Cycle|Source+Sans+Pro:400,400i");

/////////////////// universal ///////////////////

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

body {
  background: white;
  color: black;
  font-family: "Ubuntu", sans-serif; //"Poppins", sans-serif;
  font-size: 14px;
  margin: 70px 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.flexC {
  display: flex;
  flex-direction: column;
}

.flexR {
  display: flex;
}



/////////////////// main ///////////////////
main {
  padding-top: 13rem;
  background: #fff;
  display: flex;
  height: 100%;
}



//***************** event List *****************//

.eventList {
  background: white;
  min-width: 40%;
  display: flex;
  justify-content: center;
  // padding-left: 4rem;
  // padding-right: 4rem;
}

//***************** event Card *****************//

.flip-card-front {
  position: relative;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.title-date-location {
  width: 28rem;
  padding-top: 0.5rem;
}

.card-body {
  padding-top: 0em;
  padding-bottom: 0em;
}

.event-description {
  font-size: 16px;
  overflow: hidden;
  border: whitesmoke solid 0.5px;
  height: 20rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}



//***************** chat *****************//

.chatSpace {
  background-color: white;
  width: 60%;
  height: 90%;
  margin-top: 300px;
  display: none;
  min-width: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #585859;
  background-image: linear-gradient(to bottom right, #7da8ed, pink);
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  margin-top: 2rem;

  #messageList {
    height: 100%;
  }
}

.chatHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatSpaceHeader {
  border-radius: 25px;
  top: 0;
  width: 50%;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.closeX {
  font-size: 3rem;
  width: 100%;
  font-size: 13px;
  text-decoration: underline;
  padding-top: 7px;
  text-align: right;
  padding-top: 12px;
  font-family: "Ubuntu", sans-serif;
  color: #706f6f;
}

.closeX:hover {
  cursor: pointer;
  opacity: 0.8;
  font-family: "Ubuntu", sans-serif;
  color: #706f6f;
}

.message-content {
  max-width: 80%;

  .content-wrapper {
    overflow: hidden;
    border-radius: 20px;
    padding: 10px 14px;
    max-width: 80%;
  }

  img {
    max-width: 100%;
    margin: 0;
    vertical-align: bottom;
  }
}

//**** chatbar ****//

.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #919191;
  color: #706f6f;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;

  &:focus {
    outline: none;
  }
}

input::-webkit-input-placeholder {
  color: #585859;
  font-family: "Ubuntu", sans-serif;
}

input:focus::-webkit-input-placeholder {
  color: #585859;
  font-family: "Ubuntu", sans-serif;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 3 px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 202px;
}

.send {
  border-radius: 25px;
  border-style: solid;
  height: 30px;
  border-width: 2px;
  border-color: #585859;
  margin-left: 15px;
  width: 100px;
  background-color: #dce6f7;
  font-family: "Ubuntu", sans-serif;
}

.send-logo {
  height: 15px;
  width: 15px;
  padding-left: 4px;
  padding-bottom: 2px;
}

.send:hover {
  border-radius: 25px;
  border-style: solid;
  height: 30px;
  background-color: #7ca8ef;
  color: white;
  margin-left: 15px;
  width: 100px;
  font-family: "Ubuntu", sans-serif;
}

.send:focus {
  outline: none;
  border-radius: 25px;
  border-style: solid;
  height: 30px;
  background-color: #dce6f7;
  color: black;
  margin-left: 15px;
  width: 100px;
  font-family: "Ubuntu", sans-serif;
}

//**** message ****//

.messageInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}

.chat-logs {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

.userMessageContainer {
  padding: 5px;
}

.messageContent {
  overflow-wrap: break-word;
  padding-left: 38px;
  font-family: "Ubuntu", sans-serif;
}

.userImage {
  height: 30px;
  width: 36px;
  padding-right: 6px;
}

.messageTime {
  font-size: 9px;
  float: right;
  padding-bottom: 10px;
  font-style: italic;
  color: #999999;
}

//***************** myList *****************//

.myList {
  // box-sizing: border-box;
  margin: 1rem;
  display: none;
  position: fixed;
  width: 25%;
  right: 1rem;
  top: 3.5rem;
  max-height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  border-radius: 0.3rem;
  padding-right: 1rem;
  font-size: 0.9rem; //for making list gaps
  // padding-right: 17px;
  // box-sizing: content-box;
  // overflow-y: scroll;

  // text-align: center;
  h3 {
    padding: 0.2rem;
    position: sticky;
  }

  .fa-heart {
    color: red;
    font-size: 1rem;
  }

  .list-txt {
    font-size: 1.2rem;
    // padding-left: 0;
  }

  .event-title {
    text-decoration: underline;
  }

  // img{
  //   position: cover;
  //   opacity: 1;
  // }

  img:hover,
  .event-title:hover {
    cursor: pointer;
  }

  .listItem {
    background-color: whitesmoke;
    // box-shadow: 3px 3px 6px 2px  rgba(0, 0, 0, 0.2);
  }

  .listItem:hover {
    background-color: #ddd;
  }

  .notify {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
  }

  .notify:hover {
    background-color: whitesmoke;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-5 {
    padding-right: 0;
  }
}

@media only screen and (max-width: 420px) {
  .myList {
    display: none;
  }

  .listItem {
    display: none;
  }

  .btn-mylist {
    display: none;
  }
}