@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

/////////////////// universal ///////////////////

body {
  background: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 70px 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/////////////////// navbar ///////////////////

.navbar {
  background: url("../images/torontoSkyline.jpg");
  height: 300px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  color: white;
  z-index: 1;

  a {
    color: #fff;
    font-weight: 400;
  }

  p {
    float: right;
    line-height: 60px;
    margin: auto 10px;
  }

  button {
    color: #000;
  }
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.userRegistration {
  margin-top: 300px;
  height: 100%;
  display: none;
  flex-direction: column;
}

/////////////////// user registration /////////////

.userLogin {
  margin-top: 300px;
  display: none;
  display: none;
  flex-direction: column;
}

/////////////////// main ///////////////////
main {
  margin-top: 60px;
  background: #fff;
  display: flex;
  height: 100%;
}

//***************** search *****************//
.searchPanel {
  background-color: yellowgreen;
  display: block;
}

.mainContent {
  width: 100%;
  display: flex;
}

//***************** event List *****************//

.eventList {
  background: white;
  margin-top: 10rem;
  min-width: 60%;
}

//***************** event Card *****************//

.flip-card-front {
  position: relative;
}

.title-date-location {
  width: 28rem;
  padding-top: 1rem;
}

.card-body {
  padding-top: 0em;
  padding-bottom: 0em;

}

.event-description {
  font-size: 18px;
  padding: 10px;
}


//***************** event Card BUTTONS *****************//

.detailsButton {
  position: absolute;
  top: 16.7rem;
  left: 1rem;
  width: 7rem;
  height: 2.5rem;
}

.card-image-top {
  z-index: 1000;
  backface-visibility: hidden;
}

.backButton {
  position: absolute;
  right: 2rem;
  top: 2rem;
  // left: 1.3rem;
  width: 7rem;
  height: 2.5rem;
}

.more-button {
  position: absolute;
  right: 2rem;
  top: 6rem;
  // left: 1.3rem;
  width: 7rem;
  height: 2.5rem;
}

.chatButton {
  width: 8rem;
  height: 4rem;
  position: absolute;
  bottom: 1.3rem;
  right: 1.3rem;
  backface-visibility: hidden;
}

//***************** event Card ICONS *****************//

.icons {
  font-size: 3rem;
  backface-visibility: hidden;

  i:hover {
    cursor: pointer;
  }

  .fa-heart {
    color: red;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    position: absolute;
    bottom: 7rem;
    right: 5rem;
  }

  .like-counter {
    font-size: 2rem;
    position: absolute;
    bottom: 7rem;
    right: 1.7rem;
  }

  .fa-bookmark {
    color: green;
    position: fixed;
    font-size: 4rem;
    line-height: 3rem;
    top: 2rem;
    left: 1.3rem;
    width: 4rem;
    height: 4rem;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .whiteBookmark {
    color: white;
    z-index: 0;

  }

}

.iconSideError {
  color: red;
}

// .event-card {
//   padding: 3rem;
//   column-gap: 10rem;
//   border: 1rem solid black;
// }

//***************** event card *****************//

.flip-card {
  // background-color: transparent;
  border: 0.5px solid white;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.flip-action {
  transform: rotateY(180deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: whitesmoke;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
}

//***************** chat *****************//

.chatSpace {
  background-color: white;
  width: 60%;
  height: 100%;
  margin-top: 300px;
  display: none;
  min-width: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #585859;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;

  .messageList {
    height: 100%;
  }
}

.chatHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatSpaceHeader {
  border-radius: 25px;
  top: 0;
  width: 50%;
  margin: 0;
}

.closeX {
  font-size: 3rem;
  width: 100%;
  font-size: 13px;
  text-decoration: underline;
  padding-top: 7px;
  text-align: right;
  padding-top: 12px;
}

.closeX:hover {
  cursor: pointer;
  opacity: 0.8;
}

// .stage{
//   height: 100%;
//   border-width: 10px;
//   border-color: black;
//   border-radius: 25px;
// }

//**** chatbar ****//

.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-input {
  border-radius: 25px;
  border-style: solid;
  height: 40px;
  padding-left: 50px;
  border-color: #585859;
}

.chat-input:focus {
  outline: none;
}

.send {
  border-radius: 25px;
  border-style: solid;
  height: 30px;
  border-width: 2px;
  border-color: #585859;
  margin-left: 15px;
  width: 100px;
  background-color: #dce6f7;
}

.send-logo {
  height: 15px;
  width: 15px;
  padding-left: 4px;
  padding-bottom: 2px;
}

.send:hover {
  border-radius: 25px;
  border-style: solid;
  height: 30px;
  background-color: #7ca8ef;
  color: white;
  margin-left: 15px;
  width: 100px;
}

.send:focus {
  outline: none;
  border-radius: 25px;
  border-style: solid;
  height: 30px;
  background-color: #dce6f7;
  color: black;
  margin-left: 15px;
  width: 100px;
}

//**** message ****//

.chat-logs {
  padding: 15px;
}

.userMessageContainer {
  padding: 5px;
}

.messageContent {
  overflow-wrap: break-word;
}

.userImage {
  height: 30px;
  width: 36px;
  padding-right: 6px;
}

.messageTime {
  font-size: 9px;
  float: right;
}

//***************** myList *****************//

.myList {
  // box-sizing: border-box;
  margin: 1rem;
  display: none;
  position: fixed;
  background-color: white;
  width: 25%;
  right: 10px;
  top: 45px;
  max-height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;

  // text-align: center;
  h3 {
    padding: 0.2rem;
    position: sticky;
  }

  .notify {
    margin: 0.3rem;
  }

  // .fa-heart {
  //   color: red;
  //   font-size: 1rem;
  // }

  .list-txt {
    font-size: 1.2rem;
    padding-left: 0;
  }

  .event-title {
    text-decoration: underline;
  }

  // img{
  //   position: cover;
  //   opacity: 1;
  // }

  img:hover,
  .event-title:hover {
    cursor: pointer;
  }

  .listItem:hover {
    background-color: #ddd;
  }
}