/////////////////// navbar ///////////////////

.navbar {
  background: url("../images/toronto8.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  background-position: right 0 bottom -3rem;
  height: 150px;
  width: 100%;
  left: 0;
  padding: 0 4rem 0.7rem;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  color: white;
  z-index: 1;
  display: flex;
  flex-flow: column;
  margin-bottom: 0;
  border-radius: 0;

  a {
    color: #fff;
    font-weight: 400;
  }

  p {
    float: right;
    line-height: 60px;
    margin: auto 10px;
  }

  button {
    color: #000;
  }

  .btn-mylist {
    border-radius: 0.3rem;
    margin: 0.5rem;
    height: 2.2rem;
    font-size: 1.4rem;
  }

  .mylist-on {
    background-color: #8c63a7;
    color: rgb(255, 255, 255);
    padding: 0 0.97rem;
  }

  .userName {
    margin: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    line-height: 2.8rem;
    font-size: 2rem;
  }
}

.navbar-content {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;

  vertical-align: bottom;
}

.title {
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  color: inherit;
  display: block;
  float: left;
  font-size: 35px;
  padding: 0 10px;
  text-decoration: none;
  font-family: "Amaranth", sans-serif;
  letter-spacing: 0.1rem;
}

.nav-right {
  padding: 5px;
  align-items: flex-end;
}

.enter {
  margin: 0.3rem;
  font-size: 2rem;
  line-height: 2.5rem;

  div {
    text-decoration: underline;
  }

  div:hover {
    cursor: pointer;
  }
}

.log-out {
  text-decoration: underline;
  margin: 0rem 1rem 0 1rem;
  font-size: 2rem;
}

.log-out:hover {
  cursor: pointer;
}

.user_icon_nav {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 0.8rem 0rem 0.6rem;
}

@media only screen and (max-width: 700px) {
  .navbar {
    padding: 0 1rem 0.7rem 1rem;
    background-position: right 0 bottom 0;
  }
}

//***************** search *****************//
.searchPanel {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;

  #category {
    // width: 19rem;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
  }

  .form-wrap {
    padding: 1rem;
    padding-top: 0;
    margin: 1.3rem 0.5rem 1rem 0.5rem;
  }

  label {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 0.1rem;
  }

  .input-field {
    margin: 1rem;
  }

  .form-control {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .form-control::placeholder {
    font-size: 1.2rem;
    color: #aaa;
  }

  .btn-search:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }

  .btn-search {
    transition: all 0.2s ease-in-out;
    margin-bottom: 0;
    padding: 0.3rem 0.6rem;
    padding-top: 0.4rem;
    font-size: 1.3rem;
    border-radius: 0.2rem;
    background-color: green;
    color: white;
    border: 0px;
    margin-top: 2rem;
  }
}

.mainContent {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

@media only screen and (max-width: 800px) {
  #txt-date {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .searchPanel {

    .form-wrap {
      padding: 0.15rem;
      margin-top: 0.3rem;
    }

    label {
      font-size: 1.2rem;
    }
  }

}