.login-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;

  z-index: 100000;
}

.loginbox {
  background: url("../images/background-login.jpg");
  width: 350px;
  height: 400px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

.loginbox {
  background: url("../images/background-login.jpg");
  width: 350px;
  height: 400px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  //   z-index: 100000;
}

h1 {
  margin: 40px 0 10px 0;
  text-align: center;
  font-size: 25px;
}

h2 {
  margin: 10px;
  text-align: left;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

input,
.form-user-login {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

input {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.submitBtn {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.submitBtn:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;

  &:hover {
    color: #666;
  }

}

.error-log {
  color: #fb2525;
  font-size: 18px;
  padding: 2rem;
}